<h1>posttest 4</h1>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Data Split
from sklearn.model_selection import train_test_split
#Data Transforming
from sklearn.preprocessing import StandardScaler #standarisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi
#Data Cleaning
from sklearn.impute import SimpleImputer
#Data Encoding
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

In [3]:
df = pd.read_csv("netflix_titles.csv")

In [4]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [19]:
df2 = pd.read_csv("league-of-spuds.csv")

In [20]:
df2

,accountId,name,summonerName,participantId,win,item0,item1,item2,item3,item4,...,perk4Var1,perk4Var2,perk4Var3,perk5,perk5Var1,perk5Var2,perk5Var3,perkPrimaryStyle,perkSubStyle,gameId
0,200394182,MJ,TheRoughead,7,True,3004,1055,3057,3101,3158,...,342.0,0.0,0.0,8014.0,215.0,0.0,0.0,8100.0,8000.0,213013310
1,200394182,MJ,TheRoughead,7,False,2420,1400,3134,3742,3117,...,574.0,0.0,0.0,8014.0,174.0,0.0,0.0,8100.0,8000.0,212863847
2,200394182,MJ,TheRoughead,4,False,3071,1400,3134,3117,3742,...,1372.0,0.0,0.0,8014.0,385.0,0.0,0.0,8100.0,8000.0,202426241
3,200394182,MJ,TheRoughead,2,False,3083,1400,3134,3117,3742,...,827.0,0.0,0.0,8014.0,254.0,0.0,0.0,8100.0,8000.0,202414594
4,200394182,MJ,TheRoughead,7,True,3078,1055,3004,1038,3158,...,334.0,0.0,0.0,8014.0,126.0,0.0,0.0,8100.0,8000.0,200395574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6293,200053490,Lach,patto33,4,False,3153,3087,1304,1018,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98774004
6294,200053490,Lach,patto33,5,True,3144,3110,3065,3020,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98771995
6295,200053490,Lach,patto33,3,True,3430,1056,3196,1001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98763126
6296,200053490,Lach,patto33,9,True,1056,3027,3434,1001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98758303
6297,200053490,Lach,patto33,10,False,3401,2049,1340,1011,2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98756739

In [26]:
df2.isna().sum()

accountId              0
name                   0
summonerName           0
participantId          0
win                    0
                    ...
perk5Var2           5456
perk5Var3           5456
perkPrimaryStyle    5456
perkSubStyle        5456
gameId                 0
Length: 105, dtype: int64

In [34]:
df3 = pd.read_csv("Anime_data.csv")

In [35]:
df3

,Anime_id,Title,Genre,Synopsis,Type,Producer,Studio,Rating,ScoredBy,Popularity,Members,Episodes,Source,Aired,Link
0,1,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever...",TV,['Bandai Visual'],['Sunrise'],8.81,363889.0,39.0,704490.0,26.0,Original,"Apr 3, 1998 to Apr 24, 1999",https://myanimelist.net/anime/1/Cowboy_Bebop
1,5,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bountyâ€”such is the life o...",Movie,"['Sunrise', 'Bandai Visual']",['Bones'],8.41,111187.0,475.0,179899.0,1.0,Original,"Sep 1, 2001",https://myanimelist.net/anime/5/Cowboy_Bebop__...
2,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",TV,['Victor Entertainment'],['Madhouse'],8.31,197451.0,158.0,372709.0,26.0,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun
3,7,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...,TV,['Bandai Visual'],['Sunrise'],7.34,31875.0,1278.0,74889.0,26.0,Original,"Jul 2, 2002 to Dec 24, 2002",https://myanimelist.net/anime/7/Witch_Hunter_R...
4,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,TV,NaN,['Toei Animation'],7.04,4757.0,3968.0,11247.0,52.0,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16997,27499,Sore Ike! Anpanman: Anpanman to Kaizoku Lobster,NaN,NaN,Special,NaN,NaN,5.50,NaN,NaN,70.0,NaN,NaN,NaN,NaN
16998,12091,X Bomber,NaN,NaN,TV,NaN,NaN,5.94,NaN,NaN,199.0,NaN,NaN,NaN,NaN
16999,29133,X Bomber Pilot,NaN,NaN,Special,NaN,NaN,4.28,NaN,NaN,77.0,NaN,NaN,NaN,NaN
17000,34485,Ganko-chan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN
17001,32713,Original C-V-P Momoko,NaN,NaN,OVA,NaN,NaN,4.00,NaN,NaN,66.0,NaN,NaN,NaN,NaN

#Data split

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,:-1]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)

In [10]:
print(f"Panjang X_train : {len(x_train)}",
      f"Panjang X_test : {len(x_test)}",
      f"Panjang y_train : {len(y_train)}",
      f"Panjang y_test : {len(y_test)}",
      sep='\n')

Panjang X_train : 6164
Panjang X_test : 2643
Panjang y_train : 6164
Panjang y_test : 2643

#Data transforming

In [23]:
normalisasi_dataset = df2.copy()

In [24]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(normalisasi_dataset[['item0', 'item1', 'item2']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={0 :'item0', 1 :'item1', 2 : 'item2'}, inplace=True)

normalize_dataset.head(5)

      item0     item1     item2
0  0.763794  0.268448  0.762344
1  0.615306  0.356234  0.781546
2  0.780829  0.356234  0.781546
3  0.783880  0.356234  0.781546
4  0.782609  0.268448  0.749127

#Data cleaning

In [25]:
dataset_cl1 = df2.copy()
dataset_cl2 = df2.copy()
dataset_cl3 = df2.copy()

In [27]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

#Modus

In [29]:
dataset_cl1['perkSubStyle'] = imputer_modus.fit_transform(dataset_cl1[['perkSubStyle']])

dataset_cl1.isna().sum()

accountId              0
name                   0
summonerName           0
participantId          0
win                    0
                    ...
perk5Var2           5456
perk5Var3           5456
perkPrimaryStyle    5456
perkSubStyle           0
gameId                 0
Length: 105, dtype: int64

#Mean

In [30]:
dataset_cl2['perk5Var3'] = imputer_mean.fit_transform(dataset_cl2[['perk5Var3']])

dataset_cl2.isna().sum()

accountId              0
name                   0
summonerName           0
participantId          0
win                    0
                    ...
perk5Var2           5456
perk5Var3              0
perkPrimaryStyle    5456
perkSubStyle        5456
gameId                 0
Length: 105, dtype: int64

#Menghapus Record

In [31]:
dataset_cl3.dropna(inplace=True)

dataset_cl3.isna().sum()

accountId           0
name                0
summonerName        0
participantId       0
win                 0
                   ..
perk5Var2           0
perk5Var3           0
perkPrimaryStyle    0
perkSubStyle        0
gameId              0
Length: 105, dtype: int64

In [36]:
dataset_duplicate = df3.copy()

dataset_duplicate.duplicated().sum()

63

In [37]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

#standarisasi

In [38]:
standarisasi_dataset = dataset_cl3

In [39]:
ss = StandardScaler()
Scaled_data = ss.fit_transform(standarisasi_dataset[['item0', 'item1', 'item3']])

In [40]:
print("Nilai Sebelum Standarisasi : ")
print("Standar Deviasi : ", np.std(standarisasi_dataset))

Nilai Sebelum Standarisasi :
Standar Deviasi :  accountId           6.634388e+05
participantId       2.857407e+00
win                 4.982126e-01
item0               9.727245e+02
item1               7.152785e+02
                        ...
perk5Var2           5.938840e+01
perk5Var3           1.684151e+00
perkPrimaryStyle    1.377055e+02
perkSubStyle        1.194295e+02
gameId              7.554106e+06
Length: 103, dtype: float64

C:\Users\hpsam\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

#Data encoding

In [41]:
dataset_ordinal = df3.copy()
dataset_one_hot = df3.copy()

#ordinal encoding

In [42]:
df3['Type'].unique()

array(['TV', 'Movie', 'OVA', 'Special', 'ONA', 'Music', 'Unknown', nan],
      dtype=object)

In [43]:
encoder_ordinal =OrdinalEncoder()

#encoding kan
dataset_ordinal['Type'] = encoder_ordinal.fit_transform(dataset_ordinal[['Type']]).astype('int64')

#lihat
dataset_ordinal.head()

,Anime_id,Title,Genre,Synopsis,Type,Producer,Studio,Rating,ScoredBy,Popularity,Members,Episodes,Source,Aired,Link
0,1,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever...",5,['Bandai Visual'],['Sunrise'],8.81,363889.0,39.0,704490.0,26.0,Original,"Apr 3, 1998 to Apr 24, 1999",https://myanimelist.net/anime/1/Cowboy_Bebop
1,5,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bountyâ€”such is the life o...",0,"['Sunrise', 'Bandai Visual']",['Bones'],8.41,111187.0,475.0,179899.0,1.0,Original,"Sep 1, 2001",https://myanimelist.net/anime/5/Cowboy_Bebop__...
2,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",5,['Victor Entertainment'],['Madhouse'],8.31,197451.0,158.0,372709.0,26.0,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun
3,7,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...,5,['Bandai Visual'],['Sunrise'],7.34,31875.0,1278.0,74889.0,26.0,Original,"Jul 2, 2002 to Dec 24, 2002",https://myanimelist.net/anime/7/Witch_Hunter_R...
4,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,5,NaN,['Toei Animation'],7.04,4757.0,3968.0,11247.0,52.0,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet

In [44]:
dataset_ordinal['Type'].unique()

array([                   5,                    0,                    3,
                          4,                    2,                    1,
                          6, -9223372036854775808], dtype=int64)

#One-hot-encoding

In [45]:
temp_dataset = pd.get_dummies(dataset_one_hot[['Type']])

temp_dataset = pd.DataFrame(temp_dataset)

dataset_one_hot.drop('Type', axis=1, inplace=True)

dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(5)

,Anime_id,Title,Genre,Synopsis,Producer,Studio,Rating,ScoredBy,Popularity,Members,...,Source,Aired,Link,Type_Movie,Type_Music,Type_ONA,Type_OVA,Type_Special,Type_TV,Type_Unknown
0,1,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever...",['Bandai Visual'],['Sunrise'],8.81,363889.0,39.0,704490.0,...,Original,"Apr 3, 1998 to Apr 24, 1999",https://myanimelist.net/anime/1/Cowboy_Bebop,0,0,0,0,0,1,0
1,5,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bountyâ€”such is the life o...","['Sunrise', 'Bandai Visual']",['Bones'],8.41,111187.0,475.0,179899.0,...,Original,"Sep 1, 2001",https://myanimelist.net/anime/5/Cowboy_Bebop__...,1,0,0,0,0,0,0
2,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",['Victor Entertainment'],['Madhouse'],8.31,197451.0,158.0,372709.0,...,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun,0,0,0,0,0,1,0
3,7,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...,['Bandai Visual'],['Sunrise'],7.34,31875.0,1278.0,74889.0,...,Original,"Jul 2, 2002 to Dec 24, 2002",https://myanimelist.net/anime/7/Witch_Hunter_R...,0,0,0,0,0,1,0
4,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,NaN,['Toei Animation'],7.04,4757.0,3968.0,11247.0,...,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet,0,0,0,0,0,1,0